@tailwind base;
@tailwind components;
@tailwind utilities;


#bg {
  position: relative;
  width: 100vw;
  height: 100vw;
  background-image: url('../images/net.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}

#loginBox {
  --bg-opacity: 0.7;
  background-color: rgba(0, 0, 0, var(--bg-opacity));
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 3rem;
  width: 40%;
  max-width: 28rem;
  border-radius: 0.375rem;
}


